div
    div.markdown-wrapper
        :markdown-it
            ## Custom html
            hz-header also provides a way to change the html of the title.
            The setTitle method accepts:
            1. String
            2. JQuery Object
            Additionally accepts the boolean parameter asHtml, to specify if the string passed has to be assigned as HTML content
            #### String
            ```typescript
            hzHeaderService.setTitle("String title");
            ```
        button#string-title String title
        :markdown-it
            #### asHtml
            ```typescript
            hzHeaderService.setTitle(`<span class="fa fa-html5">HTML title</span>`,true);
            ```
        button#html-title HTML title
        :markdown-it
            #### JQuery object
            ```typescript
            hzHeaderService.setTitle($(`<span>JQuery title</span>`));
            ```
        button#jq-title JQuery title
